<nav class="navbar" id="navbar">

  <div class="navbar-container">

    <!-- LOGO -->
    <a href="#" class="brand">

      <div class="brand-logo">

        <img
          src="assets/img/logo.jpg"
          alt="logo"
        >

      </div>

      <div class="brand-text">

        <h2>
          SMK SIANG
        </h2>

        <span>
          SURABAYA
        </span>

      </div>

    </a>

    <!-- MENU -->
    <ul class="desktop-menu">

      <li>
        <a href="index.html" class="active">
          Home
        </a>
      </li>

      <!-- PROFIL -->
      <li class="dropdown">

        <button class="dropdown-btn">

          Profil

          <i class="fas fa-chevron-down"></i>

        </button>

        <div class="dropdown-menu">

          <a href="pages/profil-sekolah.html">
            Profil Sekolah
          </a>

          <a href="#">
            Profil Guru
          </a>

        </div>

      </li>

      <!-- JURUSAN -->
      <li class="dropdown">

        <button class="dropdown-btn">

          Jurusan

          <i class="fas fa-chevron-down"></i>

        </button>

        <div class="dropdown-menu">

          <a href="#">
            TSM
          </a>

          <a href="#">
            TKR
          </a>

          <a href="#">
            TKJ
          </a>

          <a href="#">
            TITL
          </a>

        </div>

      </li>

      <li>
        <a href="#">
          Berita
        </a>
      </li>

      <li>
        <a href="#">
          PPDB
        </a>
      </li>

      <li>
        <a href="#">
          Kontak
        </a>
      </li>

    </ul>

    <!-- BUTTON -->
    <a href="#" class="ppdb-btn">

      Daftar PPDB

    </a>

    <!-- MOBILE BUTTON -->
    <button class="mobile-btn" id="mobile-btn">

      <span></span>
      <span></span>

    </button>

  </div>

</nav>

<!-- MOBILE MENU -->

<div class="mobile-menu" id="mobile-menu">

  <a href="#">Home</a>
  <a href="#">Profil</a>
  <a href="#">Jurusan</a>
  <a href="#">Berita</a>
  <a href="#">PPDB</a>
  <a href="#">Kontak</a>

</div>
